# ═════════════════════════════════════════════════════════════════════════════
# ISI SECURITY — ENVIRONMENT TEMPLATE
# ═════════════════════════════════════════════════════════════════════════════

VITE_GOOGLE_SHEETS_WEB_APP_URL="https://script.google.com/macros/s/AKfycbwjCAsFLFFgWNVF25mirnBZw5ogpycjDFfHnUL9TK3oJr2zuy2r6-y1jRfEMTzG1_92TQ/exec"
# (Optional) Dedicated Webhook Endpoint for Ad Campaign Google Sheet
VITE_AD_CAMPAIGN_WEB_APP_URL=""
VITE_DATA_SHEET_ID="1vHFp5FfF_kHCKNtGpigcDLbS2gm3ETy1xdYuuJAru60"
VITE_DASHBOARD_SHEET_ID="1ZA5YvdcTrKM0Zpyvoje9r8pa7hcU_cWOBj1VCJqvLYk"
VITE_AD_CAMPAIGN_SHEET_ID="15OaMm3wf1esko6IZfpO74lnAZior8RGMwO2FiV_iz74"
VITE_SITE_URL="https://www.isisecurity.in"
EMAIL_USER="pooja@deeptrust.tech"
EMAIL_PASS="India@2050"

# Jira Cloud Integration
JIRA_DOMAIN="praveenkumarraram.atlassian.net"
JIRA_EMAIL="poojasri.aram@gmail.com"
JIRA_API_TOKEN="ATATT3xFfGF0HB1UotLKd9u7BPre5gFXU-TOc7VugV_s8MLvu_bF_ux-0SyrE3RvZsztwclrd2jFOiBIuOu0Zg7FeeNdWlnLh4Si_exXZNSSlQNqhx8DHewkNPBoRkegQh5cDq-ZGJctIZhwDqUrQBdSBVO0HfIS0P3nyf27WRnBPT2zYLy7bxE=C3BDAF04"
JIRA_PROJECT_KEY="DLF"
JIRA_ISSUE_TYPE="Lead"
